<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chal">
	<select id="listBound" resultType="kh.spring.dto.ChalBasicDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal) join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchK" resultType="kh.spring.dto.ChalBasicDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where chalName like '%'||#{keyword}||'%') join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchT" resultType="kh.spring.dto.ChalBasicDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where tag like '%'||#{keyword}||'%') join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchD" resultType="kh.spring.dto.ChalBasicDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where day = #{keyword}) join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>

</mapper>
<mapper namespace="Chal">
	<select id = "listCategory" resultType="kh.spring.dto.ChalBasicDTO">
		select * from chal join chalimg using(chalSeq) where category = #{value}
	</select>
	<select id = "filter" resultType="kh.spring.dto.ChalBasicDTO">
		select * from chal join chalimg using(chalSeq) where category = #{category} order by ${filter} asc
	</select>

	<select id="selectBySeq" resultType="kh.spring.dto.ChalBasicDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal) join chalimg using(chalSeq) where chalseq = #{value}
	</select>
	<select id="selectCertiImg" resultType="kh.spring.dto.CertiImgDTO">
		select * from certiimg where parentseq = #{value}
	</select>
</mapper>s