<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chal">
	<select id="listBound" resultType="kh.spring.dto.ChalLikeDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal) join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchK" resultType="kh.spring.dto.ChalLikeDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where chalName like '%'||#{keyword}||'%') join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchT" resultType="kh.spring.dto.ChalLikeDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where tag like '%'||#{keyword}||'%') join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>
	<select id="searchD" resultType="kh.spring.dto.ChalLikeDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal where day = #{keyword}) join chalimg using(chalSeq) where rn between #{start} and #{end}
	</select>

	<select id = "listCategory" resultType="kh.spring.dto.ChalLikeDTO">
		select * from chal join chalimg using(chalSeq) where category = #{value}
	</select>
	<select id = "filter" resultType="kh.spring.dto.ChalLikeDTO">
		select * from chal join chalimg using(chalSeq) where category = #{category} order by ${filter} asc
	</select>

	<!-- 챌린지 정보 조회(대표이미지, 내용, 참여자 수, 날짜 등등) -->
	<select id="selectBySeq" resultType="kh.spring.dto.ChalLikeDTO">
		select * from(select chal.*, row_number() over(order by chalSeq asc)rn from chal) join chalimg using(chalSeq) where chalseq = #{value}
	</select>
	
	<!-- 인증샷 조회 -->
	<select id="selectCertiImg" resultType="kh.spring.dto.CertiImgDTO">
		select * from certiimg where parentseq = #{value}
	</select>
	
	<update id="addPersonnel">
		update chal set personnel = personnel + 1 where chalSeq = #{value}
	</update>
	
	<update id="addPJ">
		update joinChal set personnel = personnel + 1 where refChalSeq = #{value}
	</update>
	
	<insert id="joinChal">
		insert into joinChal values(joinChal_seq.nextval, #{refChal},#{refNickname},#{chalName},#{startDate},#{endDate},#{personnel},#{chalInfo},#{tag},#{chalStat})
	</insert>
	
	<!-- 특정 챌린지에 대한 정보값 불러오기 -->
	<select id = "chalInfo" resultType = "kh.spring.dto.ChalDTO">
		select * from chal where chalSeq = #{value}
	</select>

	<!-- 어떤 유저가 과거에 참여한 챌린지 조회 -->
	<select id = "myChalListB" resultType = "kh.spring.dto.JoinChalDTO">
		select * from joinChal where refNickname = #{value} and <![CDATA[endDate < sysdate]]> 
	</select>
	
	<!-- 어떤 유저가 현재 참여한 챌린지 조회 -->
	<select id = "myChalListP" resultType = "kh.spring.dto.JoinChalDTO">
		select * from joinChal where refNickname = #{value} and <![CDATA[startDate < sysdate and endDate > sysdate]]>
	</select>
	
	<!-- 어떤 유저가 미래에 참여할 챌린지 조회 -->
	<select id = "myChalListF" resultType = "kh.spring.dto.JoinChalDTO">
		select * from joinChal where refNickname = #{value} and <![CDATA[startDate > sysdate]]>
	</select>
	
	<!-- 챌린지 이름으로 seq 찾기 -->
	<select id = "seqSearch" resultType = "int">
		select chalSeq from chal where chalName = #{value}
	</select>
	
	<!-- 참여한 챌린지 인지 중복 검사 -->
	<select id = "alreadyJoined" resultType = "int">
		select count(*) from joinchal where refnickname = #{nickname} and refchalseq= #{seq}
	</select>
</mapper>