<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보수정 -->
<mapper namespace="Mypage">
	<select id="getUser" resultType="kh.spring.dto.MemberDTO">
		select * from member
		where seq =
		#{value}
	</select>

	<select id="getUserChalList"
		resultType="kh.spring.dto.JoinChalDTO">
		select j.seq, j.refchalseq , j.refnickname ,
		c.chalname ,
		c.startdate , c.enddate , c.personnel ,
		c.chalinfo , c.tag ,
		c.chalstat
		from joinchal j
		inner join Member m on m.nickname
		=j.refnickname
		inner
		join chal c on c.chalseq = j.refchalseq
		where
		m.nickname = #{value}
	</select>

	<select id="getUserBoard" resultType="kh.spring.dto.BoardDTO">
		select *
		from board
		where
		board.nickname = #{value}
	</select>
	<select id="getUserBoardReply"
		resultType="kh.spring.dto.BoardReplyDTO">
		select *
		from boardreply
		where
		boardreply.writernickname =
		#{value}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateUserInfo" parameterType="kh.spring.dto.MemberDTO">
		update member set pw =#{pw,jdbcType=VARCHAR}, email=#{email,jdbcType=VARCHAR},
		zipcode=#{zipcode,jdbcType=VARCHAR},
		address1=#{address1,jdbcType=VARCHAR}, address2=#{address2,jdbcType=VARCHAR},
		phone=#{phone,jdbcType=VARCHAR} where id=#{id,jdbcType=VARCHAR}
	</update>

	<!-- 인증 등록 -->
	<insert id="insertCerti">
		insert into certi
		values(certi_seq.nextval,#{chalSeq},#{chalName},#{refNickname},#{certiTitle},#{certiContents},sysdate)
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select certi_seq.currval from dual
		</selectKey>
	</insert>

	<!-- 인증 이미지 등록 -->
	<insert id="insertCertiImg">
		insert into certiImg
		values(certiImg_seq.nextval,#{certiSeq},#{oriName},#{sysName})
	</insert>

	<!-- 인증 이미지 불러오기 -->
	<select id="findCertiImgName"
		resultType="kh.spring.dto.CertiImgDTO">
		select * from certiImg where seq = #{value}
	</select>
	
	<!-- chalDetail.jsp 인증 이미지 불러오기 -->
	<select id="findCertiImgForDetail"
		resultType="kh.spring.dto.CertiImgDTO">
		select * from certiImg where parentseq = #{value}
	</select>

	<!-- 인증한 목록 출력 -->
	<select id="findCertiList" resultType="kh.spring.dto.CertiDTO">
		select * from certi where
		chalSeq = #{chalSeq} and chalName =#{chalName} and refNickname =
		#{refNickname}
	</select>
	
	<!-- 인증 중복 검사 -->
	<select id="certiCheck" resultType="int">
		select count(*) from certi where to_char(#{value},'YY/MM/DD') = to_char(sysdate,'YY/MM/DD')
	</select>

	<!-- 회원 삭제 -->
	<delete id="delete">
		delete from member where id=#{value}
	</delete>

	<!-- 유저 정보 폼 -->
	<select id="userInfo" resultType="kh.spring.dto.MemberDTO">
		select * from member where
		id=#{value}
	</select>

	<!-- seq로 profile테이블의 imgName 찾기 -->
	<select id="findProfileImgName"
		resultType="kh.spring.dto.ProfileDTO">
		select * from profile where parentSeq = #{value}
	</select>

	<!-- 프로필 이미지 등록 -->
	<insert id="insertProfileImg">
		insert into profile
		values(profile_seq.nextval,#{seq},#{oriName},#{sysName})
	</insert>

	<!-- 프로필 이미지 수정 -->
	<update id="modifyProfileImg">
		update profile set oriName = #{oriName}, sysName =
		#{sysName} where
		parentSeq = #{seq}
	</update>
</mapper>